
@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/outfit-v11-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('./Fonts/outfit-v11-latin-700.woff2') format('woff2'); 
}

* {    
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    background-color: white;
    border-radius: 3rem;
    width: 90%; /*Media query for large screens*/
    max-height: 75%; /*Media query for large screens*/
}

img {
    border-radius: 2rem;
    margin-top: 5%;
    width: 90%;
    max-height: 60%;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 0 9%;
}

p { 
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 2.6em;
    text-align: center;
    color: hsl(216, 15%, 48%);
    margin: 0 9% 10% 9%;
}